*, :before, :after {
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
}

html {
	background-color: #DEEDE8;
	background-image: url(images/intro.png);
	background-repeat: no-repeat;
	background-size: 50%;
   	background-position: right bottom;
   	height: 100vh;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	font-family: 'Pangolin', cursive;
}

.logo {
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;}

.imglogo {
	width: 500px;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 10px;
	padding-right: 10px;
}

.intro {
	margin-left: auto;
	margin-right: auto;	
	margin-top: 30px;	
	width: 500px;	
	border: 1px solid;
	padding:10px;
	background-color: rgba(214,233,227,0.9);
}

.outro {
	margin-left: auto;
	margin-right: auto;	
	margin-top: 30px;	
	width: 500px;	
	border: 1px solid;
	padding:10px;
	background-color: rgba(214,233,227,0.9);
	text-align: center;
}

.start-game {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #00B0C7;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid #666;
}

h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 25px;
	text-align: center;
}

.intro-text {
	margin-top: 20px;
	text-align: justify;
	font-size: 17px;
}

h2 {
	font-size: 20px;
	padding: 10px;
}

p {
	padding: 10px;	
}

.answers-normal {
	padding: 15px;
	background-color: #eee;
	min-width: 50%;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
    border: 1px solid #ccc;
}

.clickable {
    cursor: pointer;
}

.answers-incorrect {
	padding: 15px;
	color: red;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background-color: #E8AFAF;
	border: 1px solid red;
}

.answers-correct {
	padding: 15px;
	color: green;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;	
	background-color: #AFE8AF;
	border: 1px solid green;
	-webkit-animation: answer-correct .5s infinite alternate;
	        animation: answer-correct .5s infinite alternate;
}

.answers-else {
	color: #bbb;	
}

@-webkit-keyframes answer-hover {
	from {background-color: #eee;}
    to {background-color: #ddd;}
}

@keyframes answer-hover {
	from {background-color: #eee;}
    to {background-color: #ddd;}
}

@-webkit-keyframes answer-correct {
	from {background-color: #AFE8AF;}
    to {background-color: #DEEEE1;}
}

@keyframes answer-correct {
	from {background-color: #AFE8AF;}
    to {background-color: #DEEEE1;}
}

@-webkit-keyframes next-hover {
	from {background-color: #00B0C7;}
    to {background-color: #219BAB;}
}

@keyframes next-hover {
	from {background-color: #00B0C7;}
    to {background-color: #219BAB;}
}

.clickable:hover {
    -webkit-animation-name: answer-hover;
            animation-name: answer-hover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    background-color: #ddd;
}

.next:hover, .start-game:hover {
    -webkit-animation-name: next-hover;
            animation-name: next-hover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
	background-color: #219BAB;
}

.questionbox {
    background-color: #DCEDDC;
	width: 100%;	
}

.explanationbox {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quizbox {
	margin-top: 30px;
	width: 100%;
	max-height:500px;
}

.question {
	font-size: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.answersbox {
	background-color: #ddd;
	width: 100%;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-ms-flex-flow: wrap;
	    flex-flow: wrap;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.questionnumber {
	width: 50%;
	background-color: #00B0C7;
}

.score {
	width: 50%;
	background-color: #00B0C7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
}

.questionscorewrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.scorespan { 
    margin-left: auto;	
}

.explanation {
	max-width: 83%;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: justify;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.next {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 100px;
	margin-left: auto;
	background-color: #00B0C7;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid #666;
}

.hidden {
	display: none;
}

.expla-incorrect {
	background-color: #E8AFAF;
	border: 1px solid red;
}

.expla-correct {
	background-color: #AFE8AF;
	border: 1px solid green;
}

@media only screen and (max-width: 500px) {
    .explanationbox {
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }
	.next {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;

	}
	.explanation {
		max-width: 100%;		
	}

	.imglogo {
		content:url("images/logo-low-res.png");
		width: 300px;
	}

	.logo {
	    height: 90px;
	}

	.question {
		font-size: 25px;
	}

	h2 {
		font-size: 15px;
	}
}
}